html, body {
  height: 100%;
}

body {
  background: #85a0ad;
  color: #333333;
}

a {
  color: #1f7ead;
  text-decoration: none;
}
a:hover {
  color: #3ca7dd;
  text-decoration: underline;
}

.left {
  text-align: left !important;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

.thin {
  margin: 6px 0;
}

#main_wrapper {
  padding: 12px 12px 24px;
}

#main_header {
  background: #081f2b;
  background-image: linear-gradient(#0b2f41, #134f6c);
  color: #eeeeee;
}
#main_header a {
  color: #7dc4e8;
}
#main_header a:hover {
  color: #3ca7dd;
}

#header_titlebar, #header_lightbar, .sub_bar {
  *zoom: 1;
}
#header_titlebar:before, #header_titlebar:after, #header_lightbar:before, #header_lightbar:after, .sub_bar:before, .sub_bar:after {
  content: " ";
  display: table;
}
#header_titlebar:after, #header_lightbar:after, .sub_bar:after {
  clear: both;
}

#header_title {
  padding: 6px 12px;
  font-size: 123.1%;
  font-weight: bold;
  float: left;
}

#header_lightbar {
  padding: 6px 12px;
  font-size: 93%;
  border-top: 1px solid #155879;
  background: #10425b;
  background-image: linear-gradient(to bottom, #19688f, #0e394e);
  border-bottom: 1px solid #02090d;
  box-shadow: inset 0px 1px 1px #3ca7dd;
}

#header_board_stats {
  float: left;
  font-size: 70%;
  line-height: 100%;
  width: 20%;
  text-align: left;
}

#header_nav {
  text-align: center;
}

#header_nav > a,
#header_nav > .dropdownContainer > a,
#header_lightbar .clickToDropdown,
#headerUserBar > a {
  color: #bee2f4 !important;
  text-shadow: 0px 1px 0px #041016;
  padding: 3px 9px;
  border: 1px solid transparent;
  border-left: 1px solid #0e394e;
}

#header_nav > a:hover,
#header_lightbar .clickToDropdown:hover,
#headerUserBar > a:hover {
  border-color: #0a2938;
  background: #155879;
  background-image: linear-gradient(#2597d0, #155879);
  box-shadow: inset 0px 1px 1px #5fb7e3;
}

#header_nav > a.selected,
#header_nav > .dropdownContainer > a.selected,
#header_nav > .dropdownContainer:hover > a,
#header_lightbar .clickToDropdown:active,
#header_lightbar .clickToDropdown:focus {
  border-color: #02090d #0a2938 #0a2938 #02090d;
  background: #155879;
  background-image: linear-gradient(#155879, #1d78a5);
  box-shadow: inset 0px 1px 1px #0a2938;
  outline: none !important;
}

#header_lightbar .clickToDropdown {
  border-color: #0a2938;
  background: #155879;
  background-image: linear-gradient(#2187ba, #0e394e);
  padding-right: 20px;
}
#header_lightbar .clickToDropdown:hover {
  text-decoration: none;
}
#header_lightbar .clickToDropdown:before {
  position: absolute;
  display: block;
  content: '';
  top: 9px;
  right: 7px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #fff;
  border-bottom-width: 0;
}

#headerUserBar {
  float: right;
  width: 20%;
  text-align: right;
}
#headerUserBar > a {
  color: #bee2f4;
}

#header_online_users {
  font-size: 77%;
  float: right;
  padding: 6px 12px;
}

.sub_bar {
  padding: 6px 12px;
  font-size: 85%;
}
.sub_bar a {
  font-weight: normal;
}

#main_header > .sub_bar {
  background-image: linear-gradient(to bottom, #112732, #173645);
  border-bottom: 1px solid #02090d;
  box-shadow: inset 0px 1px 1px black, 0px 1px 2px #141b1f;
}

#main_footer > .sub_bar {
  border-top: 1px solid #155879;
  border-bottom: 1px solid #0e394e;
}

#footer_info {
  padding-top: 8px;
  text-align: center;
  font-size: 70%;
  color: #3e6274;
}
#footer_info a {
  color: #6a98af;
}

#wrap_all_but_footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

#footer_pusher, #main_footer {
  height: 4em;
}

#main_footer {
  background: #081f2b;
  overflow: hidden;
  color: #eeeeee;
}
#main_footer a {
  color: #7dc4e8;
}
#main_footer a:hover {
  color: #3ca7dd;
}

.breadcrumbs {
  float: left;
}

.crumbFocus {
  font-weight: bold;
}

.page_links, .sbCentreLinks {
  margin: 0;
  padding: 0;
}
.page_links li, .sbCentreLinks li {
  margin: 0;
  padding: 0;
  text-indent: 0px;
  list-style-type: none;
}
.page_links li, .sbCentreLinks li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 0 8px;
  border-left: 1px solid #0e394e;
}
.page_links li:first-child, .sbCentreLinks li:first-child {
  border-left: 0;
}

.pageLinksNotALink {
  color: #668899;
}

.page_links {
  float: right;
  margin-right: -8px;
}

.sbCentreLinks {
  position: relative;
  left: 50%;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0 auto;
}
.sbCentreLinks li {
  position: relative;
  left: -50%;
}
.sbCentreLinks li:first-child {
  border-left: 0;
}

.flash, .flashToast {
  text-align: center;
  padding: 4px 8px;
  background: #203913;
  border-top: 1px solid #356020;
  border-bottom: 1px solid black;
  border-left: 1px solid #356020;
  background: #203913;
  border-top: 1px solid #356020;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-image: linear-gradient(to bottom, #2a4d19, #172a0e);
  box-shadow: 0px 1px 3px #181818, inset 0px 1px 5px #356020;
  color: #eee;
}

.flash {
  width: 70%;
  margin: 0 auto 8px;
}

.flashToast {
  z-index: 300;
  position: fixed;
  left: 20%;
  right: 20%;
  bottom: 20px;
  opacity: 0.7;
}

.dropdownContainer {
  position: relative;
  z-index: 1000;
}

.dropdownContainer.inline {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.dropdownLeft {
  left: -99999px;
}

.dropdownRight {
  right: 99999px;
}

.dropdownContainer.hoverDropdown:hover > .dropdownLeft,
.dropdownContainer > .clickToDropdown:active + .dropdownLeft,
.dropdownContainer > .clickToDropdown:focus + .dropdownLeft,
.dropdownLeft:hover {
  left: 0px;
}

.dropdownContainer.hoverDropdown:hover > .dropdownRight,
.dropdownContainer > .clickToDropdown:active + .dropdownRight,
.dropdownContainer > .clickToDropdown:focus + .dropdownRight,
.dropdownRight:hover {
  right: 0px;
}

.dropdownLeft, .dropdownRight {
  background: #1a313d;
  border-top: 1px solid #294e60;
  border-bottom: 1px solid #030607;
  border-left: 1px solid #294e60;
  background: #1a313d;
  border-top: 1px solid #294e60;
  border-bottom: 1px solid #030607;
  border-right: 1px solid #030607;
  box-shadow: 0px 1px 2px #111111;
  z-index: 50;
  padding: 4px;
  margin: 0;
  min-width: 160px;
  list-style: none;
  position: absolute;
  cursor: default;
  text-align: left;
}
.dropdownLeft.linkList a, .dropdownRight.linkList a {
  display: block;
  padding: 1px 5px;
  color: #a8d8f0;
}
.dropdownLeft.linkList a:hover, .dropdownRight.linkList a:hover {
  background: #124864;
  text-decoration: none;
  box-shadow: inset 0px 1px 2px #05131a;
}

#notifications {
  min-width: 240px;
  padding: 0;
  border-top: 0;
}

.notificationTime {
  display: block;
  font-size: 85%;
  background: #254556;
  border-top: 1px solid #315c72;
  border-bottom: 1px solid #12232b;
  padding: 2px 6px;
  margin-top: 8px;
}

li:first-child .notificationTime {
  margin-top: 0;
}

.notificationText {
  display: block;
  font-size: 85%;
  padding: 2px 6px 2px 14px;
  margin-bottom: 2px;
}

.tNormal {
  border-collapse: separate;
  *border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 1px 1px #111111;
}

td {
  *position: relative;
}

.tHeaderLarge, .tFormTitle {
  font-size: 93%;
  padding: 2px;
  text-align: center;
  color: #eeeeee;
  text-shadow: 0px 1px 1px black;
  background: #0f3f57;
  border-top: 1px solid #175e82;
  border-bottom: 1px solid #041016;
  border-left: 1px solid #175e82;
  background: #0f3f57;
  border-top: 1px solid #175e82;
  border-bottom: 1px solid #041016;
  border-right: 1px solid #041016;
  box-shadow: inset 0px 1px 1px #3ca7dd;
  background-image: linear-gradient(#1b6e98, #0f3f57);
}

.tHeader, .tFormSubTitle, .tFormFooter {
  padding: 3px 8px;
  font-size: 77%;
  color: #2e576b;
  background: #bdd1db;
  border-top: 1px solid #dee8ed;
  border-bottom: 1px solid #8bafc1;
  border-left: 1px solid #dee8ed;
  background: #bdd1db;
  border-top: 1px solid #dee8ed;
  border-bottom: 1px solid #8bafc1;
  border-right: 1px solid #8bafc1;
  box-shadow: inset 0px 1px 1px #cddde4;
  background-image: linear-gradient(#bdd1db, #dee8ed);
  text-align: center;
}

.tSubHeader {
  padding: 2px 8px;
  font-size: 77%;
  color: #3d748f;
  background: #dee8ed;
  border-top: 1px solid white;
  border-bottom: 1px solid #acc6d2;
  border-left: 1px solid white;
  background: #dee8ed;
  border-top: 1px solid white;
  border-bottom: 1px solid #acc6d2;
  border-right: 1px solid #acc6d2;
  background-image: linear-gradient(#dee8ed, #eef4f6);
  text-align: left;
}

.tSeparator {
  background: #cddde4;
  border-top: 1px solid #eef4f6;
  border-bottom: 1px solid #9cbac9;
  border-left: 1px solid #eef4f6;
  background: #cddde4;
  border-top: 1px solid #eef4f6;
  border-bottom: 1px solid #9cbac9;
  border-right: 1px solid #9cbac9;
  height: 3px;
}

.tStd, .tFormLabel, .tFormField, .tFormUnifield, .tFormUnilabel, .tAjaxFormResult {
  background: #f0f0f0;
  border-top: 1px solid white;
  border-bottom: 1px solid #cacaca;
  border-left: 1px solid white;
  background: #f0f0f0;
  border-top: 1px solid white;
  border-bottom: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  padding: 4px 8px;
}

.tMiniFooter {
  background: #bdd1db;
  border-top: 1px solid #dee8ed;
  border-bottom: 1px solid #8bafc1;
  border-left: 1px solid #dee8ed;
  background: #bdd1db;
  border-top: 1px solid #dee8ed;
  border-bottom: 1px solid #8bafc1;
  border-right: 1px solid #8bafc1;
  height: 3px;
}

.tFooterWithPagination {
  background: #bdd1db;
  border-top: 1px solid #dee8ed;
  border-bottom: 1px solid #8bafc1;
  border-left: 1px solid #dee8ed;
  background: #bdd1db;
  border-top: 1px solid #dee8ed;
  border-bottom: 1px solid #8bafc1;
  border-right: 1px solid #8bafc1;
  box-shadow: inset 0px 1px 1px white;
  background-image: linear-gradient(#dee8ed, #bdd1db);
  font-size: 93%;
  padding: 3px;
}

.tWideForm {
  width: 95%;
  margin: 0 auto;
}

.tForm75 {
  width: 75%;
  margin: 0 auto;
}

.tMidForm {
  width: 50%;
  margin: 0 auto;
}

.tFormSubTitle, .tFormFooter {
  font-size: 85%;
  text-align: center;
}

.tFormFooter > input, .tFormFooter > button {
  margin: 4px 0 6px;
}

.tFormLabel {
  font-size: 93%;
  min-width: 120px;
  width: 15%;
  vertical-align: top;
}

.tFormUnilabel {
  font-size: 93%;
  color: #444444;
}

.tFormWideLabels .tFormLabel {
  min-width: 220px;
}

.tFormLabelExtra {
  font-size: 77%;
  color: #666666;
  padding-top: 3px;
  margin-top: 3px;
  border-top: 1px dotted #aaaaaa;
}
.tFormLabelExtra > p {
  margin: 0 0 1em 0;
}

.tFormField > textarea,
.tFormField > input[type='text'],
.tFormField > input[type='password'] {
  width: 98%;
}

.tFormFieldError, .tAjaxFormResult {
  background: #ddaaaa;
  border-top: 1px solid #eccece;
  border-bottom: 1px solid #c77373;
  border-left: 1px solid #eccece;
  background: #ddaaaa;
  border-top: 1px solid #eccece;
  border-bottom: 1px solid #c77373;
  border-right: 1px solid #c77373;
}

.tFormError, .tAjaxFormResult {
  font-size: 85%;
  color: #441111;
}

.tFormError {
  display: block;
}

.tFormRequired {
  color: #cc0000;
}

.tFormError {
  padding-bottom: 8px;
}

.tAjaxFormResult {
  display: none;
}

.inlinePostPreview {
  height: 200px;
  overflow: scroll;
  border: 1px solid #000;
  margin: 3px;
  padding: 6px;
}

.paginationBlockAlone {
  font-size: 93%;
  padding: 2px;
  *zoom: 1;
  background: #b8d3e0;
  border-top: 1px solid #dbe9f0;
  border-bottom: 1px solid #82b2c9;
  border-left: 1px solid #dbe9f0;
  background: #b8d3e0;
  border-top: 1px solid #dbe9f0;
  border-bottom: 1px solid #82b2c9;
  border-right: 1px solid #82b2c9;
  box-shadow: 0px 1px 4px #111111;
}
.paginationBlockAlone:before, .paginationBlockAlone:after {
  content: " ";
  display: table;
}
.paginationBlockAlone:after {
  clear: both;
}
.paginationBlockAlone > .paginationHeader {
  color: #555555;
}

.paginationHeader {
  padding: 3px 6px;
  font-size: 85%;
  float: left;
}

.inlinePagination {
  float: right;
  padding-right: 3px;
}
.inlinePagination > a, .inlinePagination > span {
  float: left;
  padding: 1px 6px;
  margin: 1px 0px 1px 0px;
  text-decoration: none;
}
.inlinePagination > span {
  cursor: default;
}

.tNormal .inlinePagination > a, .tNormal .inlinePagination > span {
  background: #143d52;
  background-image: linear-gradient(to bottom, #1f5c7a, #0a1f29);
  color: #94bdd1;
  box-shadow: inset 0px 1px 2px #020608;
}
.tNormal .inlinePagination > a:hover {
  background: #1f5c7a;
  background-image: linear-gradient(to bottom, #297aa3, #0a1f29);
}
.tNormal .inlinePagination > .pgCurrent {
  background: #121c21;
  background-image: linear-gradient(to bottom, #121c21, #365463);
}
.tNormal .inlinePagination > .pgFiller {
  background: transparent;
  box-shadow: none;
}

.paginationBlockAlone .inlinePagination > a, .paginationBlockAlone .inlinePagination > span {
  margin-right: 0;
  background: #eeeeee;
  background-image: linear-gradient(to bottom, #f7f7f7, #dbe9f0);
  color: #777777;
  box-shadow: inset 0px 1px 3px #70a7c2;
}
.paginationBlockAlone .inlinePagination > a:hover {
  background: #4d90b3;
  background-image: linear-gradient(to bottom, #70a7c2, #3d748f);
  box-shadow: inset 0px 1px 3px #add6eb;
  color: #222222;
}
.paginationBlockAlone .inlinePagination > .pgCurrent {
  background: #94bdd1;
  background-image: linear-gradient(to bottom, #70a7c2, #a6c8d9);
  box-shadow: inset 0px 1px 2px #151515;
  color: #555555;
}
.paginationBlockAlone .inlinePagination > .pgFiller {
  background: transparent;
  box-shadow: none;
}

#pageWithSidebar {
  width: 100%;
}

#pwsSidebar {
  width: 20%;
  min-width: 150px;
  vertical-align: top;
}

#pwsContent {
  padding-left: 12px;
  vertical-align: top;
}

.pwsSidebarHeading {
  padding: 4px 4px 3px 10px;
  margin-top: 12px;
  font-size: 77%;
  color: #ddd;
  text-shadow: 0px 1px 1px #000;
  border-radius: 5px 5px 0 0;
  background: #3d748f;
  background-image: linear-gradient(#1c74a0, #134f6c);
  border: 1px solid #111;
  box-shadow: inset 0px 1px 1px #52b1e0;
}
.pwsSidebarHeading:first-child {
  margin-top: 0;
}

.pwsSidebarSection {
  padding: 4px 4px 1px;
  background: #dddddd;
  margin-bottom: 8px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 1px 2px #3d748f;
}

#pwsSidebar a {
  display: block;
  margin-bottom: 4px;
  padding: 2px 50px 2px 7px;
  color: #2e576b;
  font-size: 85%;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}
#pwsSidebar a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  right: 0;
  width: 0;
  border-left: 50px solid #dddddd;
  border-top: 50px solid #dddddd;
  border-bottom: 50px solid #dddddd;
}
#pwsSidebar a:hover {
  background: #b8d3e0;
  color: black;
  text-decoration: none;
}
#pwsSidebar a:hover:after {
  border-left: 50px solid #b8d3e0;
}
#pwsSidebar a.selected {
  background: #264859;
  color: #fff;
}
#pwsSidebar a.selected:after {
  border-left: 50px solid #264859;
}

.fiCategoryTable {
  margin-bottom: 1em;
}

.fiDescription {
  font-size: 85%;
}

.fiCounts {
  font-size: 77%;
  text-align: center;
  background: #e3e6e8;
}

.fiLastPost {
  font-size: 77%;
}

.fiIcon {
  text-align: center;
  font-size: 85%;
}

.forumIconUnread, .forumIconRead {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 45%;
  color: #eee;
  font-weight: bold;
}

.forumIconUnread {
  background: #337799;
  background-image: linear-gradient(#8cbfd9, #265973);
  box-shadow: inset 0px 1px 1px #0f3f57, 0px 1px 3px #888888;
  text-shadow: 0px -1px 1px #081f2b;
}

.forumIconRead {
  background: #b3b3b3;
  background-image: linear-gradient(#e6e6e6, #999999);
  box-shadow: inset 0px 1px 1px #666666, 0px 1px 3px #bbbbbb;
  text-shadow: 0px -1px 1px #1a1a1a;
}

.threadListThreadLink {
  font-size: 85%;
  display: block;
}

.threadStickyNote {
  color: #2e576b;
  font-weight: bold;
}

.threadSubtitle {
  padding-top: 4px;
  display: block;
  color: #555555;
  font-size: 77%;
}

.threadListTitle.locked a {
  color: #777;
}

.threadListIcon {
  text-align: center;
  vertical-align: middle;
  line-height: 16px;
}

.threadListCreator {
  text-align: center;
  background: #e3e6e8;
}

.threadListPostCount {
  background: #e3e6e8;
  text-align: center;
}

.threadListLastPost {
  font-size: 77%;
}

.threadListCrumbsSubtitle {
  font-style: italic;
}

.threadSubtitleWithForumRef {
  color: #555555;
  font-size: 77%;
}
.threadSubtitleWithForumRef:after {
  content: ' -';
}

.threadListForumRef {
  font-size: 77%;
}
.threadListForumRef > a {
  color: #777777;
  font-style: italic;
}

.threadListPageJumpTitle {
  padding: 0px 4px;
}

.threadListPageJump {
  float: right;
  font-size: 77%;
  padding-top: 4px;
  padding-left: 15px;
  color: #666666;
}
.threadListPageJump > a {
  background: #cddde4;
  padding: 2px 5px;
}

.postSidebar {
  vertical-align: top;
  text-align: center;
  width: 200px;
  padding: 0;
  background: #e0e7eb;
  border-top: 1px solid white;
  border-bottom: 1px solid #b3c3cc;
  border-left: 1px solid white;
  background: #e0e7eb;
  border-top: 1px solid white;
  border-bottom: 1px solid #b3c3cc;
  border-right: 1px solid #b3c3cc;
}
.postSidebar .avatar {
  display: block;
  margin: 4px auto;
}
.postSidebar .userTitle {
  display: block;
  font-size: 77%;
}
.postSidebar .groupName {
  display: block;
  font-size: 77%;
  color: #ddd;
}

.postSidebarTopBit {
  border-bottom: 1px dotted #0f3f57;
  padding: 4px 6px 8px 6px;
  background-image: linear-gradient(to bottom, #f9fafb, #e0e7eb);
}

.postSidebarInfo {
  margin: 6px auto;
  font-size: 77%;
}
.postSidebarInfo .label {
  text-align: right;
  padding-right: 6px;
  color: #4d90b3;
  width: 1px;
}
.postSidebarInfo .value {
  text-align: left;
}

.postDate {
  background: #d1dbe0;
  border-top: 1px solid #f0f3f5;
  border-bottom: 1px solid #a3b8c2;
  border-left: 1px solid #f0f3f5;
  height: 1px;
}

.postRevisions {
  background: #d1dbe0;
  border-top: 1px solid #f0f3f5;
  border-bottom: 1px solid #a3b8c2;
  color: #777;
}

.postOptions {
  background: #d1dbe0;
  border-top: 1px solid #f0f3f5;
  border-bottom: 1px solid #a3b8c2;
  border-right: 1px solid #a3b8c2;
  text-align: right;
}
.postOptions > a {
  margin-right: 14px;
}

.postDate, .postRevisions, .postOptions {
  font-size: 77%;
  padding: 4px 8px;
  color: #444444;
  background-image: linear-gradient(to bottom, #eaeef1, #d1dbe0);
}

.postContentWrapper {
  background: #eeeeee;
  border-top: 1px solid white;
  border-bottom: 1px solid #c8c8c8;
  border-left: 1px solid white;
  background: #eeeeee;
  border-top: 1px solid white;
  border-bottom: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  vertical-align: top;
  padding: 8px 8px;
}

.postContentWrapperCustom {
  vertical-align: top;
}

.postText {
  font-size: 93%;
}

.postSignature {
  color: #666666;
  font-size: 77%;
  padding-top: 4px;
  margin-top: 16px;
  border-top: 1px dotted #999999;
}

.quickEdit > form > textarea {
  width: 98%;
}

.quickEditBar {
  padding-top: 8px;
  font-size: 85%;
}

#thQuickReplyTable {
  margin-top: 2em;
  margin-bottom: 1em;
}

.postContentWrapper .bcQuote {
  margin: 0.5em 0;
  padding: 0;
  box-shadow: 0px 1px 1px #999999;
}
.postContentWrapper .bcQuoteTitle {
  font-size: 77%;
  font-style: italic;
  border-bottom: 1px solid #cccccc;
  padding: 2px 0.5em;
  background: #e0e7eb;
  border-top: 1px solid white;
  border-bottom: 1px solid #b3c3cc;
  border-left: 1px solid white;
  background: #e0e7eb;
  border-top: 1px solid white;
  border-bottom: 1px solid #b3c3cc;
  border-right: 1px solid #b3c3cc;
  background-image: linear-gradient(#f0f3f5, #dae2e7);
  color: #668899;
}
.postContentWrapper .bcQuoteText {
  padding: 2px 0.5em;
  background: whitesmoke;
  color: #555555;
}

.js .epSimplePostStyleOptions,
.js .epAdvancedPostStyleOptions {
  display: none;
}

.no-js .epSimplePostStyleOptions,
.no-js .epAdvancedPostStyleOptions,
.js.epSimplePostStyle .epSimplePostStyleOptions,
.js.epAdvancedPostStyle .epAdvancedPostStyleOptions {
  display: table-row;
}

textarea, input, button {
  color: #333333;
}

textarea, input[type='text'], input[type='password'] {
  box-shadow: inset 0px 1px 2px #aaaaaa;
  border: 1px solid #888888;
  background: #eeeeee;
  padding: 4px;
  font-size: 85%;
}
textarea:hover, input[type='text']:hover, input[type='password']:hover {
  border: 1px solid #888;
}
textarea:focus, textarea:active, input[type='text']:focus, input[type='text']:active, input[type='password']:focus, input[type='password']:active {
  border: 1px solid #999;
  background: white;
}

button, input[type='submit'] {
  background: #444444;
  border-top: 1px solid #5e5e5e;
  border-bottom: 1px solid #1e1e1e;
  border-left: 1px solid #5e5e5e;
  background: #444444;
  border-top: 1px solid #5e5e5e;
  border-bottom: 1px solid #1e1e1e;
  border-right: 1px solid #1e1e1e;
  color: #ccc;
  padding: 3px 9px;
  box-shadow: 0px 1px 1px black, inset 0px 1px 2px #555555;
}
button:hover, input[type='submit']:hover {
  background: #555555;
  border-top: 1px solid #6e6e6e;
  border-bottom: 1px solid #2f2f2f;
  border-left: 1px solid #6e6e6e;
  background: #555555;
  border-top: 1px solid #6e6e6e;
  border-bottom: 1px solid #2f2f2f;
  border-right: 1px solid #2f2f2f;
}
button:active, input[type='submit']:active {
  background: #333333;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #404040;
  border-left: 1px solid #1a1a1a;
  background: #333333;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #404040;
  border-right: 1px solid #404040;
  padding-top: 5px;
  padding-bottom: 1px;
}

#overlayWrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4000;
}

#overlayBG {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  filter: alpha(opacity=60);
  zoom: 1;
  opacity: 0.6;
}

.overlay {
  position: relative;
  display: none;
  z-index: 5000;
  margin: 48px auto;
  box-shadow: 0px 2px 4px black;
}

#workingOverlay {
  display: none;
  position: fixed;
  text-align: center;
  right: 30px;
  top: 30px;
  font-size: 120%;
  padding: 6px 12px;
  z-index: 10000;
  background: rgba(17, 17, 17, 0.7);
  border-top: 1px solid rgba(43, 43, 43, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  border-left: 1px solid rgba(43, 43, 43, 0.7);
  background: rgba(17, 17, 17, 0.7);
  border-top: 1px solid rgba(43, 43, 43, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  border-right: 1px solid rgba(0, 0, 0, 0.7);
}

.smiliesList {
  background: #dddddd;
  margin-top: 0.5em;
  padding: 4px;
  text-align: center;
}

.smileyBox {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  background: #eeeeee;
  margin: 1px;
}

.smiley {
  vertical-align: baseline;
}
