@mixin clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin inlineBlock {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

@mixin ul_reset {
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		text-indent: 0px;
		list-style-type: none;
	}
}

@mixin boxShadow($shadow...) {
	box-shadow: $shadow;
}

// Generic styles

$globalHorzPadding: 12px;

// Nice green: 120deg
// Slightly grassier green: 100deg
// Teal: 180deb
// Tealy blue: 200deg
// Deeper blue: 220deg
// Nice purple: 270deg
// Brown: 10deg
$themeHue: 200deg;
$linkHue: 200deg; //$themeHue + 180deg;
$darkTheme: false;

@function darkOrLight($dark, $light) {
	@if $darkTheme {
		@return $dark;
	} @else {
		@return $light;
	}
}

$pageBG: darkOrLight(hsl($themeHue, 10%, 15%), hsl($themeHue, 20%, 60%));
$darkBGTextColour: #eee;
$mainTextColour: darkOrLight(#eee, #333);

$darkBGLinkColour: hsl($linkHue, 70%, 70%);
$linkColour: hsl($linkHue, 70%, darkOrLight(70%, 40%));

$darkBGHoverLinkColour: hsl($linkHue, 70%, 55%);
$hoverLinkColour: hsl($linkHue, 70%, darkOrLight(75%, 55%));

$accentMinorTextColour: hsl($themeHue, 40%, 70%);
$accentReallyMinorTextColour: hsl($themeHue, 30%, 35%);

$accentHeaderLargeColour: hsl($themeHue, 70%, 20%);
$paginationColour: hsl($themeHue, 60%, 20%);
$paginationCurrentColour: hsl($themeHue, 30%, 10%);
$paginationBlockColour: darkOrLight(hsl($themeHue, 60%, 10%), hsl($themeHue, 60%, 80%));

$accentHeaderColour: darkOrLight(hsl($themeHue, 40%, 13%), hsl($themeHue, 30%, 80%));
$accentHeaderTextColour: darkOrLight($accentMinorTextColour, hsl($themeHue, 40%, 30%));

$accentSubHeaderColour: darkOrLight(hsl($themeHue, 30%, 10%), hsl($themeHue, 30%, 90%));
$accentSubHeaderTextColour: darkOrLight(hsl($themeHue, 40%, 60%), hsl($themeHue, 40%, 40%));

$headerBG: hsl($themeHue, 20%, 10%);
$lightbarColour: hsl($themeHue, 70%, 18%);
$lightbar3DLight: lighten($lightbarColour, 10%);
$lightbarGradTop: lighten($lightbarColour, 15%);
$lightbarLinkBorder: darken($lightbarColour, 5%);
$lightbar3DShadow: darken($lightbarColour, 15%);
$lightbarLinkColour: hsl($themeHue, 70%, 85%);
$subBarBGTop: hsl($themeHue, 40%, 10%);
$subBarBGBottom: hsl($themeHue, 40%, 15%);

$dropdownColour: hsl($themeHue, 40%, 17%);

@function light_3d($base, $invert) {
	@if $invert {
		@return darken($base, 10%);
	} @else {
		@return lighten($base, 10%);
	}
}

@function shadow_3d($base, $invert) {
	@if $invert {
		@return lighten($base, 5%);
	} @else {
		@return darken($base, 15%);
	}
}

@mixin box3d_hsplit_mid($base, $invert: false) {
	background: $base;
	border-top: 1px solid light_3d($base, $invert);
	border-bottom: 1px solid shadow_3d($base, $invert);
}

@mixin box3d_hsplit_left($base, $invert: false) {
	@include box3d_hsplit_mid($base, $invert);
	border-left: 1px solid light_3d($base, $invert);
}

@mixin box3d_hsplit_right($base, $invert: false) {
	@include box3d_hsplit_mid($base, $invert);
	border-right: 1px solid shadow_3d($base, $invert);
}

@mixin box3d($base, $invert: false) {
	@include box3d_hsplit_left($base, $invert);
	@include box3d_hsplit_right($base, $invert);
}

@mixin darkBGText {
	color: $darkBGTextColour;
	a {
		color: $darkBGLinkColour;
		&:hover {
			color: $darkBGHoverLinkColour;
		}
	}
}

// This makes the stretchy footer work
html, body { height: 100%; }

body {
	background: $pageBG;
	color: $mainTextColour;
}

a {
	color: $linkColour;
	//font-weight: bold;
	text-decoration: none;

	&:hover {
		color: $hoverLinkColour;
		text-decoration: underline;
	}
}

.left { text-align: left !important; }
.center { text-align: center !important; }
.right { text-align: right !important; }

//hr
.thin {
	margin: 6px 0;
}

#main_wrapper {
	padding: 12px $globalHorzPadding 24px;
}

#main_header {
	background: $headerBG;
	background-image: linear-gradient($headerBG, lighten($headerBG, 5%));

	@include darkBGText;
}

#header_titlebar, #header_lightbar, .sub_bar {
	@include clearfix;
}

#header_title {
	padding: 6px $globalHorzPadding;
	font-size: 123.1%;
	font-weight: bold;
	float: left;
}

#header_lightbar {
	padding: 6px $globalHorzPadding;

	font-size: 93%;

	border-top: 1px solid $lightbar3DLight;
	background: lighten($lightbarColour, 3%);
	background-image: linear-gradient(to bottom, $lightbarGradTop, $lightbarColour);
	border-bottom: 1px solid $lightbar3DShadow;
	@include boxShadow(inset 0px 1px 1px lighten($lightbarGradTop, 22%));
}

#header_board_stats {
	float: left;
	font-size: 70%;
	line-height: 100%;
	width: 20%;
	text-align: left;
}




@mixin headerNavTopLevel {
	// !important needed to override dark text BG styles
	color: $lightbarLinkColour !important;
	text-shadow: 0px 1px 0px hsl($themeHue, 70%, 5%);
	padding: 3px 9px;
	border: 1px solid transparent;
	border-left: 1px solid $lightbarColour;
}

@mixin headerNavTopLevelHover {
	border-color: $lightbarLinkBorder;
	background: lighten($lightbarColour, 10%);
	background-image: linear-gradient(
		lighten($lightbarColour, 30%),
		lighten($lightbarColour, 10%));
	@include boxShadow(inset 0px 1px 1px lighten($lightbarColour, 45%));
}

@mixin headerNavTopLevelPushed {
	border-color: $lightbar3DShadow $lightbarLinkBorder $lightbarLinkBorder $lightbar3DShadow;
	background: lighten($lightbarColour, 10%);
	background-image: linear-gradient(
		lighten($lightbarColour, 10%),
		lighten($lightbarColour, 20%));
	@include boxShadow(inset 0px 1px 1px darken($lightbarColour, 5%));
}


#header_nav {
	text-align: center;
}

#header_nav > a,
#header_nav > .dropdownContainer > a,
#header_lightbar .clickToDropdown {
	@include headerNavTopLevel;
}
#header_nav > a:hover,
#header_lightbar .clickToDropdown:hover {
	@include headerNavTopLevelHover;
}
#header_nav > a.selected,
#header_nav > .dropdownContainer > a.selected,
#header_nav > .dropdownContainer:hover > a,
#header_lightbar .clickToDropdown:active,
#header_lightbar .clickToDropdown:focus {
	@include headerNavTopLevelPushed;
	outline: none !important;
}

#header_lightbar .clickToDropdown {
	//display: inline;
	border-color: darken($lightbarColour, 5%);
	background: lighten($lightbarColour, 10%);
	background-image: linear-gradient(
		lighten($lightbarColour, 25%),
		lighten($lightbarColour, 0%));
	padding-right: 20px;
	&:hover {
		text-decoration: none;
	}

	// Cannot have this because it breaks the positioning of the arrow
	// in Gecko.
	//position: relative;
	&:before {
		// WTF, WebKit? This fails entirely with :after.
		position: absolute;
		display: block;
		content: '';
		top: 9px;
		right: 7px;
		width: 0;
		height: 0;
		border: 4px solid transparent;
		border-top-color: #fff;
		border-bottom-width: 0;
	}
}


#headerUserBar {
	float: right;
	width: 20%;
	text-align: right;
	& > a {
		color: $lightbarLinkColour;
		//margin-left: 12px;
	}
}

#header_online_users {
	font-size: 77%;
	float: right;
	padding: 6px $globalHorzPadding;
}

.sub_bar {
	padding: 6px $globalHorzPadding;
	font-size: 85%;
	a { font-weight: normal; }
}
#main_header > .sub_bar {
	background-image: linear-gradient(to bottom, $subBarBGTop, $subBarBGBottom);
	border-bottom: 1px solid $lightbar3DShadow;
	@include boxShadow(
		inset 0px 1px 1px #000,
		0px 1px 2px hsl($themeHue, 20%, 10%)
		);
}
#main_footer > .sub_bar {
	border-top: 1px solid $lightbar3DLight;
	border-bottom: 1px solid $lightbarColour;
}
#footer_info {
	padding-top: 8px;
	text-align: center;
	font-size: 70%;
	color: $accentReallyMinorTextColour;
	a { color: lighten($accentReallyMinorTextColour, 20%); }
}

#wrap_all_but_footer {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
#footer_pusher, #main_footer {
	height: 4em;
}
#main_footer {
	background: $headerBG;
	overflow: hidden;
	@include darkBGText;
}



.breadcrumbs { float: left; }
.crumbFocus { font-weight: bold; }
.page_links, .sbCentreLinks {
	@include ul_reset;
	li {
		@include inlineBlock;
		padding: 0 8px;
		border-left: 1px solid $lightbarColour;

		&:first-child {
			border-left: 0;
		}
	}
}
.pageLinksNotALink {
	color: hsl($themeHue, 20%, 50%);
}
.page_links {
	float: right;
	margin-right: -8px;
}
// http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support
.sbCentreLinks {
	position: relative;
	left: 50%;

	@include inlineBlock;
	margin: 0 auto;

	li {
		position: relative;
		left: -50%;
	}
	li:first-child {
		border-left: 0;
	}
}


// FLASH MESSAGES
$flashHighlight: hsl(100deg, 50%, 25%);
$flashColour: hsl(100deg, 50%, 15%);
$flashGradTop: hsl(100deg, 50%, 20%);
$flashGradBottom: hsl(100deg, 50%, 11%);
.flash, .flashToast {
	text-align: center;
	padding: 4px 8px;


	@include box3d($flashColour);
	background: linear-gradient(to bottom, $flashGradTop, $flashGradBottom);
	@include boxShadow(0px 1px 3px #181818, inset 0px 1px 5px $flashHighlight);
	color: #eee;
}
.flash {
	width: 70%;
	margin: 0 auto 8px;
}

.flashToast {
	z-index: 300;
	position: fixed;
	left: 20%;
	right: 20%;
	bottom: 20px;
	opacity: 0.7;
	//@include box3d(rgba($flashColour, 0.7));
}





.dropdownContainer {
	position: relative;
	z-index: 1000;
}
.dropdownContainer.inline {
	@include inlineBlock;
	//display: inline;
}

.dropdownLeft { left: -99999px; }
.dropdownRight { right: 99999px; }
.dropdownContainer.hoverDropdown:hover > .dropdownLeft,
.dropdownContainer > .clickToDropdown:active + .dropdownLeft,
.dropdownContainer > .clickToDropdown:focus + .dropdownLeft,
.dropdownLeft:hover
{ left: 0px; }
.dropdownContainer.hoverDropdown:hover > .dropdownRight,
.dropdownContainer > .clickToDropdown:active + .dropdownRight,
.dropdownContainer > .clickToDropdown:focus + .dropdownRight,
.dropdownRight:hover
{ right: 0px; }

.dropdownLeft, .dropdownRight {
	@include box3d($dropdownColour);
	@include boxShadow(
		0px 1px 2px #111
		// inset 0px 1px 3px lighten($dropdownColour, 10%)
		);

	z-index: 50;
	padding: 4px;
	margin: 0;
	min-width: 160px;
	list-style: none;
	position: absolute;
	cursor: default;

	text-align: left;

	&.linkList a {
		display: block;
		padding: 1px 5px;
		color: hsl($themeHue, 70%, 80%);

		&:hover {
			background: lighten($lightbarColour, 5%);
			text-decoration: none;
			@include boxShadow(inset 0px 1px 2px darken($lightbarColour, 12%));
		}
	}
}


#notifications {
	min-width: 240px;
	padding: 0;
	border-top: 0;
}
.notificationTime {
	display: block;
	font-size: 85%;
	background: lighten($dropdownColour, 7%);
	border-top: 1px solid lighten($dropdownColour, 15%);
	border-bottom: 1px solid darken($dropdownColour, 5%);
	padding: 2px 6px;

	margin-top: 8px;
}
li:first-child .notificationTime {
	margin-top: 0;
}
.notificationText {
	display: block;
	font-size: 85%;
	padding: 2px 6px 2px 14px;
	margin-bottom: 2px;
}



.tNormal {
	border-collapse: separate;
	*border-collapse: collapse;
	width: 100%;
	@include boxShadow(0px 1px 1px #111);
}

// IE7 HACK
td { *position: relative; }


.tHeaderLarge {
	font-size: 93%;
	padding: 2px;
	text-align: center;
	color: $darkBGTextColour;

	text-shadow: 0px 1px 1px darken($accentHeaderLargeColour, 30%);
	@include box3d($accentHeaderLargeColour);
	@include boxShadow(inset 0px 1px 1px lighten($accentHeaderLargeColour, 35%));
	background-image: linear-gradient(lighten($accentHeaderLargeColour, 15%), $accentHeaderLargeColour);
}

.tHeader {
	padding: 3px 8px;
	font-size: 77%;
	color: $accentHeaderTextColour;
	@include box3d($accentHeaderColour);
	@include boxShadow(inset 0px 1px 1px lighten($accentHeaderColour, 5%));
	background-image: linear-gradient($accentHeaderColour, lighten($accentHeaderColour, 10%));
	text-align: center;
}

.tSubHeader {
	padding: 2px 8px;
	font-size: 77%;
	color: $accentSubHeaderTextColour;
	@include box3d($accentSubHeaderColour);
	background-image: linear-gradient($accentSubHeaderColour, lighten($accentSubHeaderColour, 5%));
	text-align: left;
}

.tSeparator {
	@include box3d(lighten($accentHeaderColour, 5%));
	height: 3px;
}

.tStd {
	@include box3d(darkOrLight(#1e1e1e, #f0f0f0));
	padding: 4px 8px;
}

@mixin cellAlt {
	background: darkOrLight(#151515, hsl($themeHue, 10%, 90%));
}


.tMiniFooter {
	@include box3d($accentHeaderColour);
	height: 3px;
}

.tFooterWithPagination {
	@include box3d($accentHeaderColour);
	// @include boxShadow(inset 0px 1px 5px lighten($accentHeaderColour, 10%));
	@include boxShadow(inset 0px 1px 1px lighten($accentHeaderColour, 20%));
	background-image: linear-gradient(lighten($accentHeaderColour, 10%), $accentHeaderColour);
	font-size: 93%;
	padding: 3px;
}

.tWideForm {
	width: 95%;
	margin: 0 auto;
}
.tForm75 {
	width: 75%;
	margin: 0 auto;
}
.tMidForm {
	width: 50%;
	margin: 0 auto;
}

.tFormTitle {
	@extend .tHeaderLarge;
}
.tFormSubTitle {
	@extend .tHeader;
	font-size: 85%;
	text-align: center;
}

.tFormFooter {
	@extend .tFormSubTitle;
	& > input, & > button {
		margin: 4px 0 6px;
	}
}

.tFormLabel {
	font-size: 93%;
	min-width: 120px;
	width: 15%;
	vertical-align: top;
}
.tFormUnilabel {
	font-size: 93%;
	color: darkOrLight(#ccc, #444);
}
.tFormWideLabels .tFormLabel {
	min-width: 220px;
}
.tFormLabel, .tFormField, .tFormUnifield, .tFormUnilabel {
	@extend .tStd;
}
.tFormLabelExtra {
	font-size: 77%;
	color: darkOrLight(#999, #666);
	padding-top: 3px;
	margin-top: 3px;
	border-top: 1px dotted darkOrLight(#444, #aaa);

	& > p {
		margin: 0 0 1em 0;
	}
}

.tFormField > textarea,
.tFormField > input[type='text'],
.tFormField > input[type='password'] {
	width: 98%;
}
.tFormFieldError, .tAjaxFormResult {
	@include box3d(darkOrLight(#411, #daa));
}

.tFormError, .tAjaxFormResult {
	font-size: 85%;
	color: darkOrLight(#fcc, #411);
}
.tFormError {
	display: block;
}
.tAjaxFormResult {
	@extend .tStd;
}

.tFormRequired {
	color: hsl(0deg, 100%, 40%);
}

.tFormError {
	padding-bottom: 8px;
}

.tAjaxFormResult {
	display: none;
}


.inlinePostPreview {
	height: 200px;
	overflow: scroll;
	border: 1px solid #000;
	margin: 3px;
	padding: 6px;
}


// PAGINATION
.paginationBlockAlone {
	//@extend .tHeaderLarge;
	font-size: 93%;
	padding: 2px;

	@include clearfix;
	//margin-top: 10px;

	// @include box3d($paginationBlockColour);
	// background-image: linear-gradient(lighten($paginationBlockColour, 10%), $paginationBlockColour);
	// @include boxShadow(
	// 	inset 0px 1px 1px lighten($paginationBlockColour, 20%),
	// 	0px 1px 3px #000
	// 	);

	@include box3d(darkOrLight(#1a1a1a, hsl($themeHue, 40%, 80%)));
	@include boxShadow(0px 1px 4px #111);

	& > .paginationHeader {
		color: darkOrLight(#aaa, #555);
	}
}

// Basic pagination styles
.paginationHeader {
	padding: 3px 6px;
	font-size: 85%;
	float: left;
}
.inlinePagination {
	float: right;
	padding-right: 3px;
	& > a, & > span {
		float: left;
		padding: 1px 6px;
		margin: 1px 0px 1px 0px;
		text-decoration: none;
	}

	& > span {
		cursor: default;
	}
}

.tNormal .inlinePagination {
	& > a, & > span {
		background: $paginationColour;
		background-image: linear-gradient(to bottom,
			lighten($paginationColour, 10%),
			darken($paginationColour, 10%));
		color: hsl($themeHue, 40%, 70%);
		@include boxShadow(inset 0px 1px 2px darken($paginationColour, 18%));
	}

	& > a:hover {
		background: lighten($paginationColour, 10%);
		background-image: linear-gradient(to bottom,
			lighten($paginationColour, 20%),
			darken($paginationColour, 10%));
	}
	& > .pgCurrent {
		background: $paginationCurrentColour;
		background-image: linear-gradient(to bottom,
			$paginationCurrentColour,
			lighten($paginationCurrentColour, 20%));
	}
	& > .pgFiller {
		background: transparent;
		@include boxShadow(none);
	}
}

.paginationBlockAlone .inlinePagination {
	& > a, & > span {
		margin-right: 0;
		background: darkOrLight(#393939, #eee);
		background-image: linear-gradient(to bottom,
			darkOrLight(#444, #f7f7f7),
			darkOrLight(#2a2a2a, hsl($themeHue, 40%, 90%)));
		color: darkOrLight(#ccc, #777);
		@include boxShadow(inset 0px 1px 3px darkOrLight(#666, hsl($themeHue, 40%, 60%)));
	}

	& > a:hover {
		background: darkOrLight(#555, hsl($themeHue, 40%, 50%));
		background-image: linear-gradient(to bottom,
			darkOrLight(#666, hsl($themeHue, 40%, 60%)),
			darkOrLight(#4a4a4a, hsl($themeHue, 40%, 40%)));
		@include boxShadow(inset 0px 1px 3px darkOrLight(#999, hsl($themeHue, 60%, 80%)));
		color: darkOrLight(#ccc, #222);
	}
	& > .pgCurrent {
		background: darkOrLight(#444, hsl($themeHue, 40%, 70%));
		background-image: linear-gradient(to bottom,
			darkOrLight(#222, hsl($themeHue, 40%, 60%)),
			darkOrLight(#494949, hsl($themeHue, 40%, 75%)));
		@include boxShadow(inset 0px 1px 2px #151515);
		color: darkOrLight(#888, #555);
	}
	& > .pgFiller {
		background: transparent;
		@include boxShadow(none);
	}
}


// SIDEBAR PAGES
$sidebarBG: darkOrLight(#1e1e1e, #ddd);
#pageWithSidebar {
	width: 100%;
}
#pwsSidebar {
	width: 20%;
	min-width: 150px;
	vertical-align: top;
}
#pwsContent {
	padding-left: 12px;
	vertical-align: top;
}

$pwslSat: 40%;
$pwslHoverBG: darkOrLight(#2b2b2b, hsl($themeHue, 40%, 80%));
$pwslSelBG: hsl($themeHue, $pwslSat, 25%);
.pwsSidebarHeading {
	padding: 4px 4px 3px 10px;
	margin-top: 12px;
	font-size: 77%;

	color: #ddd;
	text-shadow: 0px 1px 1px #000;
	//@include box3d($accentHeaderLargeColour);

	border-radius: 5px 5px 0 0;
	background: hsl($themeHue, 40%, darkOrLight(18%, 40%));
	background: linear-gradient(
		hsl($themeHue, 70%, darkOrLight(23%, 37%)),
		hsl($themeHue, 70%, darkOrLight(10%, 25%)));
	border: 1px solid #111;
	@include boxShadow(inset 0px 1px 1px hsl($themeHue, 70%, darkOrLight(35%, 60%)));

	&:first-child {
		margin-top: 0;
	}
}
.pwsSidebarSection {
	padding: 4px 4px 1px;
	background: $sidebarBG;
	margin-bottom: 8px;
	border-radius: 0 0 5px 5px;
	@include boxShadow(0px 1px 2px hsl($themeHue, 40%, 40%));
}
#pwsSidebar a {
	display: block;
	margin-bottom: 4px;
	padding: 2px 50px 2px 7px;
	color: hsl($themeHue, 40%, darkOrLight(60%, 30%));
	font-size: 85%;

	border-radius: 3px;


	position: relative;
	overflow: hidden;

	&:after {
		content: '';
		display: block;

		position: absolute;
		top: 50%;
		margin-top: -50px;
		right: 0;
		width: 0;

		border-left: 50px solid $sidebarBG;
		border-top: 50px solid $sidebarBG;
		border-bottom: 50px solid $sidebarBG;
	}

	&:hover {
		background: $pwslHoverBG;
		color: darkOrLight(#fff, #000);
		text-decoration: none;
		&:after {
			border-left: 50px solid $pwslHoverBG;
		}
	}
	&.selected {
		background: $pwslSelBG;
		color: #fff;
		&:after {
			border-left: 50px solid $pwslSelBG;
		}
	}
}



// FORUM INDEX

.fiDescription { font-size: 85%; }

.fiCounts {
	font-size: 77%;
	text-align: center;
	@include cellAlt;
}

.fiLastPost {
	font-size: 77%;
}

.fiIcon {
	text-align: center;
	font-size: 85%;
}
$ficonSize: 2.5em;
.forumIconUnread, .forumIconRead {
	display: inline-block;

	width: $ficonSize;
	height: $ficonSize;

	line-height: $ficonSize;
	text-align: center;

	border-radius: 45%;

	color: #eee;
	font-weight: bold;
}

// Note: for lighter icons:
// Gradient S => 30
// Gradient L (light ver) => 90 to 60
// outset box shadow (light ber) => #bbb

.forumIconUnread {
	background: hsl($themeHue, 50%, darkOrLight(30%, 40%));
	background: linear-gradient(
		hsl($themeHue, 50%, darkOrLight(60%, 70%)),
		hsl($themeHue, 50%, darkOrLight(20%, 30%))
		);
	@include boxShadow(
		inset 0px 1px 1px hsl($themeHue, 70%, 20%),
		0px 1px 3px darkOrLight(#000, #888)
		);
	text-shadow: 0px -1px 1px hsl($themeHue, 70%, 10%);
}

.forumIconRead {
	background: hsl($themeHue, 0%, darkOrLight(30%, 70%));
	background: linear-gradient(
		hsl($themeHue, 0%, darkOrLight(50%, 90%)),
		hsl($themeHue, 0%, darkOrLight(20%, 60%))
		);
	@include boxShadow(
		inset 0px 1px 1px hsl($themeHue, 0%, 40%),
		0px 1px 3px darkOrLight(#000, #bbb)
		);
	text-shadow: 0px -1px 1px hsl($themeHue, 0%, 10%);
}


// FORUM VIEW

.threadListThreadLink {
	font-size: 85%;
	display: block;
}
.threadStickyNote {
	color: hsl($themeHue, 40%, darkOrLight(70%, 30%));
	font-weight: bold;
}
.threadSubtitle {
	padding-top: 4px;
	display: block;
	color: darkOrLight(#ddd, #555);
	font-size: 77%;
}
.threadListTitle.locked {
	a {
		color: #777;
	}
}
.threadListIcon {
	text-align: center;
	vertical-align: middle;
	line-height: 16px;
}
.threadListCreator {
	text-align: center;
	@include cellAlt;
}
.threadListPostCount {
	@include cellAlt;
	text-align: center;
}
.threadListLastPost {
	font-size: 77%;
}

.threadListCrumbsSubtitle {
	font-style: italic;
}


.threadSubtitleWithForumRef {
	color: darkOrLight(#ddd, #555);
	font-size: 77%;
	&:after {
		content: ' -';
	}
}
.threadListForumRef {
	font-size: 77%;
	& > a {
		color: darkOrLight(#999, #777);
		font-style: italic;
	}
}

.threadListPageJumpTitle {
	padding: 0px 4px;
}
.threadListPageJump {
	float: right;
	font-size: 77%;
	padding-top: 4px;
	padding-left: 15px;
	color: darkOrLight(#bbb, #666);
	& > a {
		background: darkOrLight(#111, hsl($themeHue, 30%, 85%));
		padding: 2px 5px;
	}
}


// THREADS
$postSidebarBG: darkOrLight(hsl($themeHue, 30%, 10%), hsl($themeHue, 20%, 90%));

.postSidebar {
	vertical-align: top;
	text-align: center;
	width: 200px;
	//padding: 4px;
	padding: 0;

	.avatar {
		display: block;
		margin: 4px auto;
	}

	.userTitle {
		display: block;
		font-size: 77%;
	}
	.groupName {
		display: block;
		font-size: 77%;
		color: #ddd;
	}

	@include box3d($postSidebarBG);
	//@include boxShadow(inset 0px 1px 3px hsl($themeHue, 30%, 19%));
}

.postSidebarTopBit {
	border-bottom: 1px dotted $accentHeaderLargeColour;
	padding: 4px 6px 8px 6px;
	background-image: linear-gradient(to bottom,
		darkOrLight(lighten($postSidebarBG, 3%), lighten($postSidebarBG, 8%)),
		$postSidebarBG);
}

.postSidebarInfo {
	margin: 6px auto;
	font-size: 77%;
	.label {
		text-align: right;
		padding-right: 6px;
		color: darken($accentMinorTextColour, 20%);
		width: 1px; //hack
	}
	.value {
		text-align: left;
	}
}



// POST TOP BAR

$postTopBarColour: darkOrLight(#181818, hsl($themeHue, 20%, 85%));

.postDate {
	@include box3d_hsplit_left($postTopBarColour);
	height: 1px; // just a hacky way to make it the minimum height
}
.postRevisions {
	@include box3d_hsplit_mid($postTopBarColour);
	color: #777;
}
.postOptions {
	@include box3d_hsplit_right($postTopBarColour);
	text-align: right;
	& > a {
		margin-right: 14px;
	}
}

.postDate, .postRevisions, .postOptions {
	font-size: 77%;
	padding: 4px 8px;
	color: darkOrLight(#aaa, #444);

	background-image: linear-gradient(to bottom,
		lighten($postTopBarColour, 8%),
		$postTopBarColour);
}

.postContentWrapper {
	@include box3d(darkOrLight(#222, #eee));
	vertical-align: top;
	padding: 8px 8px;
}
.postContentWrapperCustom {
	vertical-align: top;
}
.postText {
	font-size: 93%;
}
.postSignature {
	color: darkOrLight(#888, #666);
	font-size: 77%;
	padding-top: 4px;
	margin-top: 16px;
	border-top: 1px dotted darkOrLight(#444, #999);
}

.quickEdit > form > textarea {
	width: 98%;
}

.quickEditBar {
	padding-top: 8px;
	font-size: 85%;
}


#thQuickReplyTable {
	margin-top: 2em;
	margin-bottom: 1em;
}



// POST STYLE EDITOR

.js .epSimplePostStyleOptions,
.js .epAdvancedPostStyleOptions {
	display: none;
}

.no-js .epSimplePostStyleOptions,
.no-js .epAdvancedPostStyleOptions,
.js.epSimplePostStyle .epSimplePostStyleOptions,
.js.epAdvancedPostStyle .epAdvancedPostStyleOptions {
	display: table-row;
}



// FORMS

textarea, input, button {
	color: darkOrLight(#eee, #333);
}

textarea, input[type='text'], input[type='password'] {
	@include boxShadow(inset 0px 1px 2px darkOrLight(#111, #aaa));
	border: 1px solid darkOrLight(#555, #888);
	background: darkOrLight(#333, #eee);
	padding: 4px;

	font-size: 85%;

	&:hover {
		border: 1px solid #888;
	}

	&:focus, &:active {
		border: 1px solid #999;
		background: darkOrLight(#484848, #fff);
	}
}

button, input[type='submit'] {
	@include box3d(#444);
	color: #ccc;
	padding: 3px 9px;
	@include boxShadow(0px 1px 1px #000, inset 0px 1px 2px #555);

	&:hover {
		@include box3d(#555);
	}

	&:active {
		@include box3d(#333, $invert: true);
		padding-top: 5px;
		padding-bottom: 1px;
	}
}


// OVERLAYS

#overlayWrapper {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 4000;
	//z-index: 100;
}
#overlayBG {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	filter: alpha(opacity=60);
	zoom: 1; // ARGH IE
	opacity: 0.6;
}
.overlay {
	position: relative;
	display: none;
	z-index: 5000;
	margin: 48px auto;
	@include boxShadow(0px 2px 4px #000);
}


#workingOverlay {
	display: none;
	position: fixed;
	text-align: center;
	right: 30px;
	top: 30px;
	font-size: 120%;
	padding: 6px 12px;
	z-index: 10000;
	@include box3d(rgba(17, 17, 17, 0.7));
}


.smiliesList {
	background: darkOrLight(#0e0e0e, #ddd);

	//height: 120px;
	//overflow-y: scroll;

	margin-top: 0.5em;
	padding: 4px;
	text-align: center;

}
	.smileyBox {
		display: inline-block;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 18px;
		background: darkOrLight(#222, #eee);
		margin: 1px;
	}

.smiley { vertical-align: baseline; }
