{% extends "forum_base.html" %}

{% block title %}Move Thread: {{thread.title}}{% endblock %}

{% block sub_bar %}
	{% call create_sub_bar() %}

	{% call sub_bar_crumbs() %}
		{{base_thread_crumbs(forum, thread)}}
		&raquo;
		<a href='{{url}}'>Move</a>
	{% endcall %}

	{% endcall %}
{% endblock %}


% from '_form_helpers.html' import form_field_table_row, csrf_token_field

{% block body %}

<form method='post' action='{{url}}'>
	{{csrf_token_field()}}
	{{form.next}}

	<table class='tNormal tMidForm'>
		<tr>
			<td class='tFormTitle' colspan='2'>
				Move Thread
			</td>
		</tr>

		<tr>
			<td class='tFormLabel'>
				Thread
			</td>
			<td class='tFormField'>
				{{thread.title}} by {{thread.creator.link}}
			</td>
		</tr>

		<tr>
			<td class='tFormLabel'>
				Current Forum
			</td>
			<td class='tFormField'>
				{{forum.name}}
			</td>
		</tr>

		{{form_field_table_row(form, 'destforum')}}
		
		<tr>
			<td class='tFormFooter' colspan='2'>
				<input type='submit' value='Move'>
			</td>
		</tr>
	</table>

</form>

{% endblock %}
