{% extends "forum_base.html" %}

{% block title %}Latest Posts{% endblock %}

{% block body %}
{% set dategroup = None %}

<table class='tNormal'>
	<tr>
		<td class='tHeader' style='width: 20%'>Date:</td>
		<td class='tHeader' style='width: 20%'>Poster:</td>
		<td class='tHeader' style='text-align:left'>Thread:</td>
	</tr>
	{% for post in posts %}
	{% set dategroup = update_dategroup(dategroup, post.created_at) %}
	{% if dategroup.show_now %}
	<tr>
		<td class='tSubHeader' colspan='3' style='text-align:center'>
			{{dategroup.current|date}}
		</td>
	</tr>
	{% endif %}
	<tr class='{{loop.cycle('row0', 'row1')}}'>
		<td class='tStd postListDateTime'>
			{{post.created_at|relative_date_and_time}}
		</td>
		<td class='tStd postListCreator'>
			{{post.creator.link}}
		</td>
		<td class='tStd postListThread'>
			{% set thread = post.thread %}

			<a href='{{thread.url}}' class='threadListThreadLink'>{{thread.title}}</a>
			{% if thread.subtitle %}<span class='threadSubtitleWithForumRef'>{{thread.subtitle}}</span>{% endif %}
			<span class='threadListForumRef'><a href='{{thread.forum.url}}'>{{thread.forum.name}}</a></span>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}

